<div
  class="bg-image"
  [ngStyle]="{
    'background-image': 'url(../../assets/img/film-background.jpg)',
  }"
></div>
<div class="main-page">
  <div class="welcome-container">
    <h1>Welcome to myFlix!</h1>
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      class="button"
      style="background-color: #c2c79e"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openLoginDialog()"
      class="button"
      style="background-color: #c2c79e"
    >
      Login
    </button>
  </div>
</div>
