<app-header class="header"></app-header>
<div
  class="bg-image"
  [ngStyle]="{
    'background-image': 'url(../../assets/img/film-background.jpg)',
  }"
></div>
<div class="profile-div">
  <div>
    <h1>Profile</h1>
    <p>Username: {{ user.Username }}</p>
    <p>Email: {{ user.Email }}</p>
    <p>Birthday: {{ user.Birthday | date }}</p>
  </div>
  <button mat-raised-button (click)="openUpdateUserDialog()" class="button">
    Update Info
  </button>
  <button mat-raised-button (click)="openDeleteUser()" class="button">
    Remove Account
  </button>
  <h2>Favorite Movies</h2>
  <app-favorite-movies></app-favorite-movies>
</div>
