<mat-card>
  <mat-card-header>
    <mat-card-title>Are you sure?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Account will be permanently deleted, never to be seen again.
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="deleteUser()" style="background-color: #C2C79E">
      Permanently remove account
    </button>
    <button mat-raised-button (click)="closeDialog()" style="background-color: #C2C79E">
      I changed my mind
    </button>
  </mat-card-actions>
</mat-card>
